.shopContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cartContainer{
    background-color: coral;
}

.cartContainer h4{
    font-size: 18px;
    font-weight: bold;
}

.selectedItemsCont, .randomItemsCont{
    margin-top: 40px;
}

.selectedItems{
    margin-top: 0;
}

.randomBtn{
    background-color: blueviolet;
    font-size: 14px;
    font-weight: 700;
    color: blanchedalmond;
    border: none;
    border-radius: 5%;
    display: inline-block;
    padding: 3px 9px;
    margin-bottom: 15px;
}

.resetBtn{
    font-size: 16px;
    font-weight: 700;
    color: blanchedalmond;
    background-color: rgb(236, 20, 20);
    border: none;
    border-radius: 5%;
    display: inline-block;
    padding: 3px 40px;
}


@media screen and (max-width:1100px) {
    .productsContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:780px) {
    .productsContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .cartContainer h4{
        font-size: 16px;
        font-weight: bold;
    }

    .randomBtn{
        font-size: 12px;
    }

    .resetBtn{
        font-size: 12px;
    }
}
